<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content style="background-color: #F9F8F6 !important;">
    <div text-center style="margin-top: 5vh;">
        <img src="assets/imgs/rsvploginimg.png">

        <ion-list padding style="margin-top: 2vh;">

            <ion-item>
                <ion-label fixed>
                    <ion-icon name="mail"></ion-icon>
                </ion-label>
                <ion-input type="text" placeholder="Email Address"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label fixed>
                    <ion-icon name="lock"></ion-icon>
                </ion-label>
                <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>

            <div padding>
                <button ion-button round color="primary" style="margin-top: 2vh;" (click)="login()">Sign In</button>

                <button ion-button round color="facebook" block style="margin-top: 2vh;" (click)="login()">Sign in with Facebook</button>

                <button ion-button round color="google" block style="margin-top: 2vh;" (click)="login()">Sign in with Google</button>
            </div>
        </ion-list>
    </div>
    <div text-center style="color:#65BFD3; font-size: 16px;">
        Terms & Conditions  |  How to use
    </div>
</ion-content>
