<!--
  Generated template for the TodolistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle style="width:auto !important;">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>To-Do List</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding style="background-image: url(assets/imgs/bgtodo.png); background-size: cover;">

</ion-content>

<ion-footer>
    <button color="primary" ion-button block>
        Create Schedule
    </button>
</ion-footer>