<!--
  Generated template for the EventplannerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Event Planner</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid style="background-color: orangered; color:white;">
        <ion-row>
            <ion-col col-12 style="text-align: center">
                <h3>Meera's Wedding<br>Fre, 5 Jan 2018</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 style="text-align: center">
                <h4>Guest Attending<br>
                    28
                </h4>
            </ion-col>
            <ion-col col-6 style="text-align: center">
                <h4>Guest RSVPs<br>
                    22
                </h4>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                EVENT CHECKLIST
            </ion-col>
            <ion-col col-6 style="text-align: right">
                <ion-badge style="border: 1px solid red; background-color: transparent; color:red;">
                    9 Incomplete Items
                </ion-badge>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>LOCATE AND PAY FOR VENUE</ion-label>
                    <ion-checkbox color="dark"></ion-checkbox>
                </ion-item>

                <ion-item>
                    <ion-label>SEND OUT RSVPs</ion-label>
                    <ion-checkbox color="danger" checked="true"></ion-checkbox>
                </ion-item>

                <ion-item>
                    <ion-label>DRESSES FOR BRIDESMAID</ion-label>
                    <ion-checkbox></ion-checkbox>
                </ion-item>


                <ion-item>
                    <ion-label>ORDER A BEAUTICIAN</ion-label>
                    <ion-checkbox color="dark"></ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


<ion-footer>
    <button ion-button color="primary" block>UPDATE</button>
</ion-footer>
