<!--
  Generated template for the VerifyinvitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle style="width:auto !important;">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Verify Invite</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8 class="bgimg"></ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
    </ion-grid>
    <div style="text-align: center">
        <h3 style="padding-bottom: 1px !important;margin-bottom: 1px !important;">VALENTINA ADEBOYE</h3>
        <p style="margin-top: 0px; padding-top: 0px; color: red;">Allowed one guest</p>
        <h6 style="text-transform: uppercase;">Enter Last 4 digit of contact</h6>
        <ion-input type="text" value="" style="width: 75vw; border: 1px solid black; margin-left: 8.5vw;"></ion-input>
        <button ion-button color="primary" style="margin-top: 3vh;">Verify</button>
    </div>
</ion-content>
