<!--
  Generated template for the CreatemailinglistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle style="width:auto !important;">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Create Mailing List</ion-title>
    </ion-navbar>

</ion-header>


<ion-content style="text-align: center">
    <p style="margin-top: 20vh;">You have no contacts</p>
    <button ion-button color="primary">Import Contacts</button>
    <p>or</p>
    <button ion-button color="primary">Add Emails</button>
</ion-content>
