<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Events</ion-title>

        <ion-buttons end>
            <button ion-button (click)="addnewevent()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <div padding style="margin-top: 30vh;">
        <h5 style="text-align: center;">
            You haven't created any events yet!<br>
            To create an event tap the button on the right side of the screen.
        </h5>
    </div>
</ion-content>
