<!--
  Generated template for the NeweventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Add an Event</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <hr>
    <ion-list>

        <ion-item>
            <ion-label stacked>Event Title</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Description</ion-label>
            <ion-textarea type="text"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label stacked>Add Photos</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-item>
                        <ion-label stacked>Start Date</ion-label>
                        <ion-datetime displayFormat="D/M/YYYY" pickerFormat="D M YY"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label stacked>Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-item>
                        <ion-label stacked>End Date</ion-label>
                        <ion-datetime displayFormat="D/M/YYYY" pickerFormat="D M YY"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label stacked>Time</ion-label>
                        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-item>
            <ion-label stacked>RSVP Deadline</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Max Capacity</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <div padding style="margin-top: 2vh;">
            <button ion-button block color="primary">Save</button>
        </div>
    </ion-list>
</ion-content>
